header
{
width:100%;
height:200px;
}

.left
{
width:200px;
background-color:yellow;
text-align:left;
float:left;
font-family:Arial;
}

#navbar {
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 200px;
      }
      #navbar li {
        border-left: 10px solid #666;
        border-bottom: 1px solid #666;
      }
      #navbar a {
        background-color: #949494;
        color: #fff;
        padding: 20px;
        text-decoration: none;
        font-weight: bold;
        border-left: 5px solid #33ADFF;
        display: block;
      }
      #navbar a:hover {
  		background-color: #666;
  		border-left: 5px solid #3333FF;
	  }

.right
{
background-color:orange;
float:right;
width: 40%;

}

.mid
{
background-color:#bbbbbb;

text-align: center;
}

.mid img {
  margin-top: -50px;
}

.main
{
  display: flex;

}

footer
{
background-color:blue;
width:100%;
height:60px;
text-align: center;
}

@media screen and (min-width: 1340px) and (max-width: 1920px) and (min-height: 1200px) and (max-height: 1920px)
{
  .mid
  {
    background-color: red;
  }
}

@media screen and (max-width: 1100px) and (min-width: 800px)
{
  .mid
  {
    background-color: green;
  }
}

